$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import "bootswatch-scss/sandstone/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootswatch-scss/sandstone/bootswatch";

@import "font-awesome/scss/font-awesome";

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* BASIC STYLINGS
============================================================================= */
body                            { padding-top:20px;}
pre                             { margin-bottom:20px; }

/* form styling */
#form-container
{
  background:#2f2f2f;
  margin-bottom:20px;
  border-radius:5px;
}

#form-container .page-header
{
  background:#151515;
  margin:0;
  padding:30px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               {
  color:#000;
  display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons a:not(:hover)         { text-decoration:none; }
#status-buttons span
{
  color:#fff; background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; border-radius:50%;
}

/* active buttons */
#status-buttons a.active span   { background:#00BC8C; }

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

// Component styles are injected through grunt

// injector
@import 'enrollment/enrollment.scss';
@import 'main/main.scss';
@import 'profile/beneficiaries/beneficiaries.scss';
@import 'profile/dependents/dependents.scss';
@import 'profile/details/details.scss';
@import 'profile/profile.scss';
@import 'modal/modal.scss';
// endinjector
