<div class="form-group">
  <label for="firstname">First Name</label>
  <input type="text" name="firstName" ng-model="formData.firstName" class="form-control">

  <label for="middleInitial">Middle Initial</label>
  <input type="text" name="middleInitial" ng-model="formData.middleInitial" class="form-control">

  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" ng-model="formData.lastName" class="form-control">

  <label for="gender">Gender</label>
  <select ng-model="formData.gender" ng-model="formData.gender" ng-options="gender.name | translate for gender in genders" class="form-control">
  </select>
</div>

<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="^.beneficiaries" class="btn btn-block btn-info">
      Beneficiaries <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>
</div>
