<div class="well">
  <div class="row">
    <div class="form-group col-sm-4" show-errors>
      <label for="firstname">First Name</label>
      <input type="text" name="firstName" ng-model="formData.firstName" class="form-control" required>
      <span class="help-block" ng-if="profileForm.firstName.$error.required">First Name is required.</span>
    </div>
    <div class="form-group col-sm-4">
      <label for="middleInitial">Middle Initial</label>
      <input type="text" name="middleInitial" ng-model="formData.middleInitial" class="form-control">
    </div>
    <div class="form-group col-sm-4" show-errors>
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" ng-model="formData.lastName" class="form-control" required>
      <span class="help-block" ng-if="profileForm.lastName.$error.required">Last Name is required.</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <label for="gender">Gender</label>
      <select name="gender" ng-model="formData.gender" ng-options="gender.name | translate for gender in genders" class="form-control">
      </select>
    </div>
    <div class="form-group col-sm-6">
      <label for="dateOfBirth">DOB</label>
      <input type="date" name="dateOfBirth" ng-model="formData.dateOfBirth" class="form-control">
    </div>
  </div>
</div>
<div class="well">
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" name="address" ng-model="formData.address" class="form-control">
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <label for="city">City</label>
      <input type="text" name="city" ng-model="formData.city" class="form-control">
    </div>
    <div class="form-group col-sm-4">
      <label for="province">Province</label>
      <select name="province" ng-model="formData.province" ng-options="province.name | translate for province in provinces" class="form-control">
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label for="postalCode">Postal Code</label>
      <input type="text" name="postalCode" ng-model="formData.postalCode" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6" show-errors>
      <label for="email">Email</label>
      <input type="email" name="email" ng-model="formData.email" class="form-control">
      <span class="help-block" ng-if="profileForm.email.$error.email">The email address is invalid.</span>
    </div>
    <div class="form-group col-sm-6" show-errors>
      <label for="alternateEmail">Alternate Email</label>
      <input type="email" name="alternateEmail" ng-model="formData.alternateEmail" class="form-control">
      <span class="help-block" ng-if="profileForm.alternateEmail.$error.email">The email address is invalid.</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6" show-errors>
      <label for="phoneNumber">Phone Number</label>
      <input type="text" name="phoneNumber" ng-model="formData.phoneNumber" class="form-control">
    </div>
    <div class="form-group col-sm-6">
      <label for="cellNumber">Cell Number</label>
      <input type="text" name="cellNumber" ng-model="formData.cellNumber" class="form-control">
    </div>
  </div>
</div>
<div class="well">
  <div class="form-group">
    <label for="maritalStatus">Marital Status</label>
    <select name="maritalStatus" ng-model="formData.maritalStatus" ng-options="maritalStatus.name | translate for maritalStatus in maritalStatuses" class="form-control" required>
    </select>
  </div>
  <div class="row" ng-show="formData.maritalStatus.name == 'profile.details.maritalStatus.options.married'">
    <div class="form-group col-sm-6">
      <label for="spouseName">Spouse Name</label>
      <input type="text" name="spouseName" ng-model="formData.spouseName" class="form-control" required>
    </div>
    <div class="form-group col-sm-6">
      <label for="spouseEmail">Spouse Email</label>
      <input type="email" name="spouseEmail" ng-model="formData.spouseEmail" class="form-control" required>
    </div>
  </div>
  <div class="form-group">
    <label for="smokingStatus">Smoking Status</label>
    <select name="smokingStatus" ng-model="formData.smokingStatus" ng-options="smokingStatus.name | translate for smokingStatus in smokingStatuses" class="form-control">
    </select>
  </div>
</div>
<div class="well">
  <div class="form-group">
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" ng-model="formData.occupation" class="form-control">
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <label for="earnings">Earnings</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" name="earnings" ng-model="formData.earnings" placeholder="CAD" class="form-control">
        <!-- <span class="input-group-addon">.00</span> -->
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label for="earningsFrequency">Earnings Frequency</label>
      <select name="earningsFrequency" ng-model="formData.earningsFrequency" ng-options="earningFrequency.name | translate for earningFrequency in earningFrequencies" class="form-control">
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label for="hoursPerWeek">Hours Per Week</label>
      <input type="number" name="hoursPerWeek" ng-model="formData.hoursPerWeek" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <label for="employmentDate">Employment Date</label>
      <input type="date" name="employmentDate" ng-model="formData.employmentDate" class="form-control">
    </div>
    <div class="form-group col-sm-6">
      <label for="extendedHealthId">Extended Health & Dental ID #</label>
      <input type="number" name="extendedHealthId" ng-model="formData.extendedHealthId" class="form-control">
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="^.beneficiaries" class="btn btn-block btn-info">
      Beneficiaries <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>
</div>
